<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <h1> Coffee Shop Menu </h1>
    <div id="menu">
      <a href="#", onclick="showMenuItem('latte');">latte</a>
      <a href="#", onclick="showMenuItem('coffee');">coffee</a>
      <a href="#", onclick="showMenuItem('expresso');">expresso</a>
      <a href="#", onclick="showMenuItem('expresso');">johnny</a>
    </div>
    <div id="item_info"></div>

    <script src="static/show_menu_item.js"></script>
  </body>
</html>